@inherits LayoutComponentBase
@using Web_Application_for_Home_Plant_Care.Shared

<PageTitle>Web Application for Home Plant Care</PageTitle>

<div class="desktop-home-container">
    <div class="desktop-home-sidebar">
        <NavMenu />
    </div>

    <main class="desktop-home-main">
        <article>
            @Body
        </article>
    </main>

    <div class="desktop-home-calendar">
        <Calendar />
    </div>
</div>
