<div class="desktop-home-group18">
    <NavLink href="/">
        <img src="svg/home24dpfill0wght400grad0opsz2411744-6ods.svg" class="desktop-home-home24dp-fill0wght400grad0opsz241" />
    </NavLink>
</div>
<div class="desktop-home-group181">
    <NavLink href="/plants">
        <img src="svg/list24dpfill0wght400grad0opsz2419150-29yk.svg" class="desktop-home-list24dp-fill0wght400grad0opsz241" />
    </NavLink>
</div>
<div class="desktop-home-group28">
    <NavLink href="/addPlant">
        <img src="svg/add24dpfill0wght400grad0opsz2419160-jwph.svg" class="desktop-home-add24dp-fill0wght400grad0opsz241" />
    </NavLink>
</div>
