.desktop-home-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(27, 35, 22, 1);
}

.desktop-home-sidebar {
    width: 101px;
    height: 100vh;
    display: flex;
    position: sticky;
    top: 0;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0 40px 40px 0;
    border-radius: 0 40px 40px 0;
}


.desktop-home-main {
    padding: 0px;
    min-height: 100vh;
    overflow-y: auto;
    background-color: rgba(27, 35, 22, 1);
    position: relative;
}

.desktop-home-group18 {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
    top: 169px;
    left: 21px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.desktop-home-home24dp-fill0wght400grad0opsz241 {
    top: 11px;
    left: 12px;
    width: 37px;
    height: 37px;
    position: absolute;
    object-fit: contain;
}

.desktop-home-group181 {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
    top: 259px;
    left: 21px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.desktop-home-list24dp-fill0wght400grad0opsz241 {
    top: 11px;
    left: 12px;
    width: 37px;
    height: 37px;
    position: absolute;
    object-fit: contain;
}

.desktop-home-group28 {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
    top: 349px;
    left: 21px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.desktop-home-add24dp-fill0wght400grad0opsz241 {
    top: 11px;
    left: 12px;
    width: 37px;
    height: 37px;
    position: absolute;
    object-fit: contain;
}

.desktop-home-calendar {
    gap: 12px;
    top: 0px;
    right: 0px;
    width: 450px;
    min-height: 100vh;
    display: flex;
    padding: 12px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03999999910593033);
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 40px 0 0 0;
    background-color: rgba(255, 255, 255, 0.05);
}

.desktop-home-frame427319611 {
    gap: 20px;
    top: 88px;
    left: 16px;
    width: 418px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

.desktop-home-text119 {
    color: rgb(255, 255, 255);
    height: auto;
    font-size: 24px;
    text-align: center;
    font-family: "Inter";
    font-weight: 700;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-frame427319603 {
    width: 418px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}

.desktop-home-text020 {
    color: rgba(255, 255, 255, 1);
    width: 32px;
    height: auto;
    font-size: 14px;
    text-align: center;
    font-family: "Inter";
    font-weight: 500;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-frame427319606 {
    gap: 16px;
    width: 418px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}

.desktop-home-frame427319604 {
    gap: 43px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}

.desktop-home-text030 {
    color: rgba(255, 255, 255, 1);
    width: 32px;
    height: auto;
    font-size: 16px;
    text-align: left;
    font-family: "Inter";
    font-weight: 500;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-text030.highlight {
    color: black; 
}

.highlight {
    background-color: rgba(128,197,110, 100);
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
}

.desktop-home-frame427319616 {
    gap: 24px;
    top: 420px;
    left: 12px;
    width: 438px;
    display: flex;
    position: absolute;
    overflow-y: auto;
    align-items: flex-start;
    flex-direction: column;
    height: calc(100vh - 420px);
}

.desktop-home-frame427319615 {
    top: 360px;
    width: 380px;
    position: absolute;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}

.desktop-home-text091 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-text093 {
    color: rgba(128, 197, 110, 1);
    height: auto;
    font-size: 14px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}


.desktop-home-frame427319619 {
    width: 400px;
    height: 76px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.10000000149011612);
}

.desktop-home-text095 {
    top: 48px;
    left: 20px;
    color: rgba(128, 197, 110, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-text097 {
    top: 29px;
    left: 20px;
    color: rgba(147, 147, 154, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-text099 {
    top: 7px;
    left: 20px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-frame427319614 {
    gap: 315px;
    top: 0px;
    left: 0px;
    width: 400px;
    display: flex;
    padding: 12px 12px 39px 20px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    justify-content: flex-end;
}

.desktop-home-rectangle411 {
    top: 0px;
    left: 0px;
    width: 8px;
    height: 76px;
    z-index: 2;
    position: absolute;
    border-radius: 100px 0 0 12px;
}



.desktop-plants-group1397 {
    top: 90px;
    width: 1000px;
    height: 306px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    gap: 5px 7px;
    flex-wrap: wrap;
}

.desktop-plants-group13 {
    width: 226px;
    height: 306px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.desktop-plants-rectangle6 {
    top: 50px;
    left: 0px;
    width: 100%;
    height: auto;
    position: absolute;
}

.desktop-plants-rose-gold-feminine-calligraphy-monogram-logo152 {
    top: -20px;
    left: -10px;
    width: 250px;
    height: 250px;
    position: absolute;
}

.desktop-plants-text {
    top: 200px;
    left: 43px;
    color: rgba(255, 255, 255, 1);
    width: 140px;
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-plants-text002 {
    top: 225px;
    left: 49px;
    color: rgba(255, 255, 255, 0.75);
    width: 128px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}



.desktop-plants-group1392 {
    top: 33px;
    left: 360px;
    width: 300px;
    height: 62px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
}

.desktop-plants-text137 {
    top: 16px;
    left: 20px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-plants-vector1 {
    top: 0px;
    right: 0px;
    width: 42px;
    height: 42px;
    position: absolute;
}

.desktop-plants-vector2 {
    top: 18px;
    left: 0px;
    width: 42px;
    height: 43px;
    position: absolute;
}