.desktop-home-container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(27, 35, 22, 1);
}

.desktop-home-sidebar {
    width: 101px;
    height: 100vh;
    display: flex;
    position: sticky;
    top: 0;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0 40px 40px 0;
    border-radius: 0 40px 40px 0;
}


.desktop-home-main {
    padding: 0px;
    min-height: 100vh;
    overflow-y: auto;
    background-color: rgba(27, 35, 22, 1);
    position: relative;
}

.desktop-home-group18 {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
    top: 169px;
    left: 21px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.desktop-home-home24dp-fill0wght400grad0opsz241 {
    top: 11px;
    left: 12px;
    width: 37px;
    height: 37px;
    position: absolute;
    object-fit: contain;
}

.desktop-home-group181 {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
    top: 259px;
    left: 21px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.desktop-home-list24dp-fill0wght400grad0opsz241 {
    top: 11px;
    left: 12px;
    width: 37px;
    height: 37px;
    position: absolute;
    object-fit: contain;
}

.desktop-home-group28 {
    width: 60px;
    height: 60px;
    display: flex;
    position: absolute;
    top: 349px;
    left: 21px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.desktop-home-add24dp-fill0wght400grad0opsz241 {
    top: 11px;
    left: 12px;
    width: 37px;
    height: 37px;
    position: absolute;
    object-fit: contain;
}

.desktop-home-calendar {
    gap: 12px;
    top: 0px;
    right: 0px;
    width: 450px;
    min-height: 100vh;
    display: flex;
    padding: 12px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.03999999910593033);
    align-items: flex-start;
    flex-shrink: 0;
    justify-content: center;
    border-radius: 40px 0 0 0;
    background-color: rgba(255, 255, 255, 0.05);
}

.desktop-home-frame427319611 {
    gap: 20px;
    top: 88px;
    left: 16px;
    width: 418px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
}

.desktop-home-text119 {
    color: rgb(255, 255, 255);
    height: auto;
    font-size: 24px;
    text-align: center;
    font-family: "Inter";
    font-weight: 700;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-frame427319603 {
    width: 418px;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}

.desktop-home-text020 {
    color: rgba(255, 255, 255, 1);
    width: 32px;
    height: auto;
    font-size: 14px;
    text-align: center;
    font-family: "Inter";
    font-weight: 500;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-frame427319606 {
    gap: 16px;
    width: 418px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-between;
}

.desktop-home-frame427319604 {
    gap: 43px;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}

.desktop-home-text030 {
    color: rgba(255, 255, 255, 1);
    width: 32px;
    height: auto;
    font-size: 16px;
    text-align: left;
    font-family: "Inter";
    font-weight: 500;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-text030.highlight {
    color: black; 
}

.highlight {
    background-color: rgba(128,197,110, 100);
    border-radius: 50%;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
}

.desktop-home-frame427319616 {
    gap: 24px;
    top: 420px;
    left: 12px;
    width: 438px;
    display: flex;
    position: absolute;
    overflow-y: auto;
    align-items: flex-start;
    flex-direction: column;
    height: calc(100vh - 420px);
}

.desktop-home-frame427319615 {
    top: 360px;
    width: 380px;
    position: absolute;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-shrink: 0;
    justify-content: space-between;
}

.desktop-home-text091 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    font-size: 20px;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-text093 {
    color: rgba(128, 197, 110, 1);
    height: auto;
    font-size: 14px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}


.desktop-home-frame427319619 {
    width: 400px;
    height: 76px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.10000000149011612);
}

.desktop-home-text095 {
    top: 48px;
    left: 20px;
    color: rgba(128, 197, 110, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-text097 {
    top: 29px;
    left: 20px;
    color: rgba(147, 147, 154, 1);
    height: auto;
    position: absolute;
    font-size: 12px;
    text-align: left;
    font-family: Inter;
    font-weight: 400;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-text099 {
    top: 7px;
    left: 20px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 140%;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-home-frame427319614 {
    gap: 315px;
    top: 0px;
    left: 0px;
    width: 400px;
    display: flex;
    padding: 12px 12px 39px 20px;
    position: absolute;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    justify-content: flex-end;
}

.desktop-home-rectangle411 {
    top: 0px;
    left: 0px;
    width: 8px;
    height: 76px;
    z-index: 2;
    position: absolute;
    border-radius: 100px 0 0 12px;
}



.desktop-plants-group1397 {
    top: 90px;
    width: 1000px;
    height: 306px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    gap: 5px 7px;
    flex-wrap: wrap;
}

.desktop-plants-group13 {
    width: 226px;
    height: 306px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
}

.desktop-plants-rectangle6 {
    top: 50px;
    left: 0px;
    width: 100%;
    height: auto;
    position: absolute;
}

.desktop-plants-rose-gold-feminine-calligraphy-monogram-logo152 {
    top: -20px;
    left: -10px;
    width: 250px;
    height: 250px;
    position: absolute;
}

.desktop-plants-text {
    top: 200px;
    left: 43px;
    color: rgba(255, 255, 255, 1);
    width: 140px;
    height: auto;
    position: absolute;
    font-size: 16px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-plants-text002 {
    top: 225px;
    left: 49px;
    color: rgba(255, 255, 255, 0.75);
    width: 128px;
    height: auto;
    position: absolute;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}



.desktop-plants-group1392 {
    top: 33px;
    left: 360px;
    width: 300px;
    height: 62px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 1;
}

.desktop-plants-text137 {
    top: 16px;
    left: 20px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-plants-vector1 {
    top: 0px;
    right: 0px;
    width: 42px;
    height: 42px;
    position: absolute;
}

.desktop-plants-vector2 {
    top: 18px;
    left: 0px;
    width: 42px;
    height: 43px;
    position: absolute;
}



.desktop-plant-group30 {
    top: 0px;
    left: 40px;
    width: 855px;
    height: 973px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.desktop-plant-rectangle9 {
    top: 82px;
    left: 40px;
    width: 815px;
    height: 891px;
    position: absolute;
    border-style: solid;
    border-width: 3px;
    border-radius: 92px;
}

.desktop-plant-photo {
    top: 0px;
    left: 0px;
    width: 447px;
    height: 447px;
    position: absolute;
}

.desktop-plant-group1402 {
    top: 139px;
    left: 447px;
    width: 376px;
    height: 301px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.desktop-plant-text107 {
    color: rgba(128, 197, 110, 1);
    width: 377px;
    height: auto;
    position: absolute;
    font-size: 30px;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-plant-text105 {
    top: 44px;
    left: 1px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-plant-text109, .desktop-plant-text115, .desktop-plant-text119, .desktop-plant-text125, .desktop-plant-text127, .desktop-plant-text129, .desktop-plant-text131 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-plant-text109 {
    top: 120px;
    width: 360px;
}
.desktop-plant-text115 {
    top: 214px;
}
.desktop-plant-text119 {
    top: 282px;
}
.desktop-plant-text125 {
    top: 30px;
    width: 152px;
}
.desktop-plant-text127 {
    top: 98px;
    width: 133px;
}
.desktop-plant-text129 {
    top: 166px;
    width: 70px;
}
.desktop-plant-text131 {
    top: 234px;
    width: 122px;
}


.desktop-plant-text111, .desktop-plant-text113, .desktop-plant-text117, .desktop-plant-text121, .desktop-plant-text123, .desktop-plant-text133, .desktop-plant-text135 {
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 20px;
    text-align: left;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}
.desktop-plant-text111 {
    top: 90px;
}
.desktop-plant-text113 {
    top: 181px;
}
.desktop-plant-text117 {
    top: 249px;
}
.desktop-plant-text121 {
    top: 204px;
    width: 177px;
}
.desktop-plant-text123 {
    width: 253px;
}
.desktop-plant-text133 {
    top: 136px;
    width: 343px;
}
.desktop-plant-text135 {
    top: 68px;
    width: 377px;
}


.desktop-plant-group1401 {
    top: 483px;
    left: 447px;
    width: 377px;
    height: 253px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.desktop-plant-text137 {
    top: 483px;
    left: 70px;
    color: rgba(255, 255, 255, 1);
    width: 316px;
    height: auto;
    position: absolute;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-plant-group23, .desktop-plant-group1403 {
    bottom: 40px;
    width: 139px;
    height: 41px;
    display: flex;
    opacity: 0.75;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-radius: 12px;
}
.desktop-plant-group23 {
    left: 657px;
    background-color: rgba(128, 197, 110, 1);
}

.desktop-plant-text101 {
    top: 8px;
    left: 10px;
    color: rgba(255, 255, 255, 1);
    width: 120px;
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-plant-group1403 {
    left: 466px;
    background-color: rgba(234, 143, 61, 1);
}





.desktop-add-plant-group1404 {
    top: 132px;
    left: 220px;
    width: 570px;
    height: 665px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.desktop-add-plant-group1392 {
    top: 35px;
    left: 345px;
    width: 329px;
    height: 61px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.desktop-add-plant-text135 {
    top: 15px;
    left: 77px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.36000001430511475);
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-add-plant-vector1 {
    top: 0px;
    right: 0px;
    width: 42px;
    height: 42px;
    position: absolute;
}

.desktop-add-plant-vector2 {
    top: 18px;
    left: 0px;
    width: 42px;
    height: 43px;
    position: absolute;
}

.desktop-add-plant-name-plant3, .desktop-add-plant-dropdowns {
    gap: 8px;
    left: 0px;
    display: flex;
    position: absolute;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.desktop-add-plant-name-plant3 {
    top: 0px;
}

.desktop-add-plant-text130 {
    color: rgba(102, 102, 102, 1);
    height: auto;
    font-size: 16px;
    align-self: stretch;
    text-align: left;
    font-family: Inter;
    font-weight: 600;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-add-plant-inputfield4 {
    gap: 10px;
    width: 570px;
    display: flex;
    padding: 16px;
    align-self: stretch;
    align-items: flex-start;
    border-color: rgba(204, 204, 204, 1);
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    flex-direction: column;
}

.desktop-add-plant-dropdowns {
    top: 104px;
}

.desktop-add-plant-name-plant2 {
    gap: 8px;
    top: 216px;
    left: 0px;
    display: flex;
    position: absolute;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.desktop-add-plant-name-plant1 {
    gap: 8px;
    top: 328px;
    left: 0px;
    display: flex;
    position: absolute;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.desktop-add-plant-name-plant {
    gap: 8px;
    top: 440px;
    left: 0px;
    display: flex;
    position: absolute;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
}

.desktop-add-plant-group23 {
    top: 560px;
    left: 400px;
    width: 139px;
    height: 35px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-radius: 12px;
    background-color: rgba(128, 197, 110, 1);
}

.desktop-add-plant-text137 {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;

    top: 8px;
    left: 10px;
    color: rgba(255, 255, 255, 1);
    width: 120px;
    height: auto;
    position: absolute;
    font-size: 18px;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-add-plant-group1403 {
    top: 560px;
    right: 400px;
    width: 139px;
    height: 35px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
    border-radius: 12px;
    background-color: rgba(234, 143, 61, 1);
}

.validation-message {
    color: red;
    height: auto;
    font-size: 16px;
    align-self: stretch;
    text-align: right;
    font-family: Inter;
    font-weight: 500;
    line-height: 18px;
    font-stretch: normal;
    text-decoration: none;
}



.desktop-plant-care-group1392 {
    top: 35px;
    left: 341px;
    width: 340px;
    height: 61px;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}
.desktop-plant-care-text101 {
    top: 15px;
    left: 50px;
    color: rgba(255, 255, 255, 1);
    height: auto;
    position: absolute;
    font-size: 25px;
    box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.36000001430511475);
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.desktop-plant-care-container {
    position: absolute;
    left: 113px;
    top: 114px;
    width: 798px;
}

.desktop-plant-care-frame4273196191 {
    width: 100%;
    height: auto;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.desktop-plant-care-text109,
.desktop-plant-care-text111,
.desktop-plant-care-text113 {
    font-family: Inter;
    font-weight: normal;
    text-decoration: none;
    margin-bottom: 1px;
}

.desktop-plant-care-text109 {
    color: rgba(128, 197, 110, 1);
    font-size: 16px;
}

.desktop-plant-care-text111 {
    color: rgba(147, 147, 154, 1);
    font-size: 16px;
}

.desktop-plant-care-text113 {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 700;
}


